@import url('https://fonts.googleapis.com/css?family=Exo+2:300,500,700');
body {
	margin:0px;
	padding:0px;
	background:#BBB;
	min-width:1000px;
	font-family:'Exo 2', sans-serif;
	font-weight:300;
}
#title {
	background:#999;
	background-image:linear-gradient(to bottom right,#bbb,#888);
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
	padding:10px;
	margin:5px;
	box-sizing: border-box;
	width:80%;
	box-shadow:3px 3px 10px #666;
	font-weight:700;
	font-size:2em;
}
hr {
	border-top:0px;
	border-bottom:1px solid #666;
	margin-bottom:0px;
	padding-bottom:0px;
}
#main {
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	border:1px solid #666;
	background:#EEE;
}
a{
	color:inherit;
	text-decoration:none;
}
.Tube {
	display:inline-block;
	color:white;
	background:#E00;
	background-image:linear-gradient(to bottom,#E00,#C00);
	border-radius:14px;
	padding:0px 5px 2px 5px;
	margin-left:2px;
}
#playlisttriggerbox {
	margin-left:16px;
	overflow:hidden;
}
input[type='url']{
	width:500px;
}
input[type='button']{
	font-family:'Exo 2',sans-serif;
}
fieldset{
	border:0px;
	padding:0px;
	margin:0px;
}
.note {
	font-style:italic;
	color:#444;
	font-size:10px;
}
.errorwrapper div {
	border:1px solid red;
	color:red;
	background:#FFE4E4;
	padding:5px;
	margin-left:35px;
	height:33px;
	box-sizing:border-box;
}
.errorwrapper img {
	float:left;
}
#footer a{color:#C00;text-decoration:underline;}
#footer{
	display:block;
	box-sizing:border-box;
	height:21px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-top:1px solid #666;
	background:#888;
	width:100%;
	color:black;
	font-size:14px;
	padding:2px;
}
#inputwidth,#inputheight {width:45px;}