@import url('https://fonts.googleapis.com/css?family=Work+Sans:700|Poppins:300,500,700');
body,html{height:100%;max-width:100%;overflow:hidden;}
body {
	margin:0px;
	padding:0px;
	background:#EEE;
	min-width:1000px;
	font-family:'Poppins', sans-serif;
	font-weight:300;
}
header {
	background:#F55;
	background-image:linear-gradient(to bottom,#F66,#C33,#D44);
	border-bottom:1px solid #822;
	padding:10px;
	margin:0px;
	box-sizing: border-box;
	width:100%;
	box-shadow:3px 3px 10px #666;
	font-family:'Work Sans',sans-serif;
	font-weight:400;
	font-size:32px;
	height:61px;
}
header span{font-size:24px;}
nav{
	display:block;
	box-sizing: border-box;
	width:250px;
	height:100%;
	padding:6px 0px 0px 6px;
	margin:0px;
	float:left;
	background:#F8F8F8;
	background-image:linear-gradient(to right,#B3B3B3,#CDCDCD);
	box-shadow:3px 3px 10px #666;
}
nav > a:link,nav > a:visited{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	width:228px;
	max-height:22px;
	padding:7px 8px;
	text-align:center;
}
nav > a.force-open{text-shadow:1px 1px 3px rgba(0,0,0,0.25);}
nav > a.nav-self::before {background-image:url('/assets/icon64.png');}
nav > a.nav-youtube::before {background-image:url('/assets/icon64yt.png');}
nav > a.nav-ytg::before {background-image:url('/assets/icon64ytg.png');}
nav > a.nav-twitch::before {background-image:url('/assets/icon64tw.png');}
nav > a.nav-git::before {background-image:url('/assets/icon64git.png');}
nav > a.nav-set::before {background-image:url('/assets/icon64set.png');}
nav > a.nav-changelog::before {background-image:url('/assets/icon64cl.png');}
nav > a.nav-tweet::before {background-image:url('/assets/icon64tweet.png');}
nav > a::before{
	display:block;
	float:left;
	width:36px;
	height:36px;
	content:'';
	position:relative;
	top:-7px;
	left:-8px;
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position:center center;
}
nav > span {
	font-size:12px;
}
hr {
	border:0px;
	border-bottom:1px solid #666;
	margin-bottom:0px;
	padding-bottom:0px;
	padding-top:12px;
}
main {
	box-sizing:border-box;
	position:absolute;
	top:61px;
	left:250px;
	width:auto;
	margin:10px 10px 10px 10px;
	padding:10px;
}
a{
	color:inherit;
	text-decoration:none;
}
#playlisttriggerbox {
	margin-left:16px;
	overflow:hidden;
}

.note {
	font-style:italic;
	color:#444;
	font-size:10px;
}

.errorwrapper div {
	border:1px solid red;
	color:red;
	background:#FFE4E4;
	padding:5px;
	margin-left:35px;
	height:33px;
	box-sizing:border-box;
}
.errorwrapper img {
	float:left;
}
/**
#presetOutput{
	margin:20px;
	padding:10px 0px;
	width:750px;
	border:1px solid #444;
	background:#FFF;
}
#presetOutput>h3{margin:8px 15px 3px 15px;}
#presetOutput>hr{margin:0px 0px 10px 0px;}
#presetOutput>input{box-shadow:1px 1px 3px rgba(0,0,0,0.75);}
#presetOutput>input[type='url']{
	border:1px solid #666;
	height:18px;
	transform:translateY(-1px);
	margin-left:10px;
	padding-left:4px;
}
#presetOutput>input[type='button']{
	background:#BBB;
	background-image:linear-gradient(to bottom,#AAA,#CCC);
	border:1px solid #999;
}
#presetOutput>input:first-of-type{border-top-left-radius:8px;border-bottom-left-radius:8px;}
#presetOutput>input:last-of-type{border-top-right-radius:8px;border-bottom-right-radius:8px;}
#presetOutput>input[type='button']:active{color:#666;}
**/
footer a:link{color:#222;text-decoration:underline;}
footer a:hover{color:#700;text-decoration:underline;}
footer{
	display:block;
	box-sizing:border-box;
	width:100%;
	height:32px;
	padding:4px 2px 2px 2px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-top:1px solid #822;
	background:#F55;
	background-image:linear-gradient(to bottom,#F66,#C33,#D44);
	color:black;
	font-size:16px;
}

/* INPUTS */
#inputwidth,#inputheight {width:45px;}

input[type='url']{
	width:500px;
}
/*buttons*/
input[type='button'],input[type='submit']{
	font-family:'Poppins',sans-serif;
	font-weight:300;
}
/*submit button*/
input[type='submit'],input[type='button'].like-submit{
	margin-right:8px;
	background:#BBB;
	background-image:linear-gradient(to bottom,#AAA,#CCC);
	border:1px solid #999;
	border-radius:8px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.75);
}
input[type='submit']:hover,input[type='button'].like-submit:hover,#presetOutput>input[type='button']:hover{
	border:1px solid #AAA;
	background:#CCC;
	background-image:linear-gradient(to bottom,#DDD,#CCC);
	box-shadow:1px 1px 3px rgba(0,0,0,1);
}
input[type='submit']:active,input[type='button'].like-submit:active{
	transform:translateY(2px);
}
/*text style buttons*/
input[type='button'].collapse,input[type='button'].expand{
	padding-left:20px;
	border:0px !important;
	box-shadow:0px 0px 0px rgba(0,0,0,0) !important;
}
input[type='button'].collapse{
	background:url('collapse.gif') 4px 3px no-repeat;
}
input[type='button'].expand{
	background:url('expand.gif') 4px 3px no-repeat;
}

/* RADIO INPUTS */
#chatsidediv{/*wrapperboxes*/
	height:29px;
	display:block;
	border:1px solid #686868;
	border-radius:16px;
	background:#686868;
	background-image:linear-gradient(to bottom,#666,#888 40%,#999 85%,#888 100%);
	padding:3px;
	position:relative;
	z-index:1;
}
#chatsidediv .radio-bg{/*background div to indicate selection*/
	height:27px;
	background:#999;
	background-image:linear-gradient(to bottom,#888,#AAA);
	border:1px solid #999;
	border-radius:16px;
	box-sizing:border-box;
	box-shadow:1px 1px 6px rgba(0,0,0,1);
	position:relative;
	top:-33px;
	z-index:2;
    transition: margin 0.5s;
}
label.is-radio {position:relative;z-index:3;}
input[type='radio']+label.is-radio{
	display:block;
	float:left;
	padding:5px 7px;
	margin:0px;
	text-align:center;
}
input[type='radio']:not(:checked)+label.is-radio:hover,
input[type='checkbox']+label:hover,.shadow-on-hover:hover{
	text-shadow:1px 1px 3px rgba(0,0,0,0.25);
}
input[type='radio']{display:none;}
input[type='radio'],input[type='radio']:not(:checked)+label,
input[type='checkbox'],input[type='checkbox']+label,
input[type='button'],input[type='submit']{
	cursor:pointer;
}